<form action="/favourites" method="POST">
  <input type="text" name="identify" value="<%= home.identify %>" hidden />
  <button
    class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600 transition-colors"
  >
    AddFavourite
  </button>
</form>
