<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hmara airbnb</title>
    <link href="/output.css" rel="stylesheet">

</head>
<body>
    <div class="container mx-auto mt-10">
        <h1 class="text-3xl font-bold mb-4">Wellcome to hmara airbnb</h1>
        <p class="text-lg mb-4">This is a simple web application to manage your airbnb listings.</p>
        <p class="text-lg mb-4 text-amber-200">You can add, edit, and delete listings.</p>
        <a href="/homeadded" class="bg-amber-400">addhome</a>
    </div>
    
</body>
</html>